# Ignore node_modules in both folders
web_app/node_modules
web_server/node_modules

# Ignore nextjs build folder
web_app/.next

# Ignore vercel build folder
web_app/vercel

# Ignore logs
logs

# Ignore editor settings
*.sublime-project
*.sublime-workspace

# Ignore cache files
yarn-error.log
yarn-debug.log

# Ignore local env file
.env.local